---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=Spinachs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f917000010000018490fb2ba77c417c8345961478bc81ce
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19990'
      X-Ratelimit-Reset:
      - '1664684286'
      X-Server:
      - anteater
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":6947254,"width":3709,"height":5564,"url":"https://www.pexels.com/photo/photo-of-pancakes-with-ingredients-6947254/","photographer":"Vlada
        Karpovich","photographer_url":"https://www.pexels.com/@vlada-karpovich","photographer_id":2278756,"avg_color":"#907962","src":{"original":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg","large2x":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/6947254/pexels-photo-6947254.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Cookies
        on White Ceramic Plate"}],"total_results":387,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=Spinachs"}'
  recorded_at: Mon, 05 Sep 2022 19:56:01 GMT
recorded_with: VCR 6.1.0
