---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f917000010000013766ed931f7b4fd7bc7697331b581cb1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19937'
      X-Ratelimit-Reset:
      - '1664499674'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":449520,"width":2592,"height":3888,"url":"https://www.pexels.com/photo/gray-metal-s-freestanding-letter-449520/","photographer":"Mat
        Brown","photographer_url":"https://www.pexels.com/@mat-brown-150387","photographer_id":150387,"avg_color":"#D3D2D0","src":{"original":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg","large2x":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/449520/pexels-photo-449520.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Gray
        Metal S Freestanding Letter"}],"total_results":8000,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=s"}'
  recorded_at: Tue, 06 Sep 2022 20:46:39 GMT
recorded_with: VCR 6.1.0
