---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=&term=foodbank
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4bpKVNSgdtglHQNI8B-F3PXmUBhNUjO3-stuQObuO9gkCx_rHosMahLY921_X8j4ySwZIJo7rLBADoBt4QIAaSb1vXdfA0mfnRJpJ4Vf36gh24cD00D8E8ZZ0CTxYnYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--useast1-6b8cdb544d-v6hkv; site=public_api_v3
      X-Zipkin-Id:
      - 5533e4a626c76790
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Sat, 03 Sep 2022 00:18:08 GMT
recorded_with: VCR 6.1.0
