---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=&term=foodbank
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4bpKVNSgdtglHQNI8B-F3PXmUBhNUjO3-stuQObuO9gkCx_rHosMahLY921_X8j4ySwZIJo7rLBADoBt4QIAaSb1vXdfA0mfnRJpJ4Vf36gh24cD00D8E8ZZ0CTxYnYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 5181143cb30ce28e
      X-Routing-Service:
      - routing-main--useast1-6d75d9b47f-xdvwk; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-190-140-useast1bprod
      X-Extlb:
      - 10-65-190-140-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Wed, 31 Aug 2022 17:22:01 GMT
recorded_with: VCR 6.1.0
