---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=foodbank
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4bpKVNSgdtglHQNI8B-F3PXmUBhNUjO3-stuQObuO9gkCx_rHosMahLY921_X8j4ySwZIJo7rLBADoBt4QIAaSb1vXdfA0mfnRJpJ4Vf36gh24cD00D8E8ZZ0CTxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 2e3417d2cc4ddc21
      Ratelimit-Remaining:
      - '4998'
      Ratelimit-Resettime:
      - '2022-09-01T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-6d75d9b47f-pgb7v; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-85-173-useast1aprod
      X-Extlb:
      - 10-65-85-173-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "QPKXdUjHVmjvu-yRZJaeLg", "alias": "food-bank-of-the-rockies-denver",
        "name": "Food Bank of the Rockies", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/j844LPlYwbsWoEW69uHjCQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/food-bank-of-the-rockies-denver?adjust_creative=5mPFCxCK3u-REAGXxWdkPQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5mPFCxCK3u-REAGXxWdkPQ",
        "review_count": 6, "categories": [{"alias": "foodbanks", "title": "Food Banks"}],
        "rating": 4.5, "coordinates": {"latitude": 39.7777671813965, "longitude":
        -104.863555908203}, "transactions": [], "location": {"address1": "10700 E
        45th Ave", "address2": "", "address3": "", "city": "Denver", "zip_code": "80239",
        "country": "US", "state": "CO", "display_address": ["10700 E 45th Ave", "Denver,
        CO 80239"]}, "phone": "+13033719250", "display_phone": "(303) 371-9250", "distance":
        10265.678795393254}], "total": 2, "region": {"center": {"longitude": -104.97024536132812,
        "latitude": 39.73552421220229}}}'
  recorded_at: Wed, 31 Aug 2022 17:14:59 GMT
recorded_with: VCR 6.1.0
